.color {
  display: flex;

  .color-container {
    flex: 6;

    .create-container {
      width: 800px;
      margin: 50px auto;
      display: flex;
      justify-content: space-between;

      .addBtn {
        margin: 0 65px;
        width: 120px;
      }

      input {
        height: 35px;
        width: 200px;
        border: 1px solid orange;
        outline: none;
      }

      button {
        background-color: transparent;
        height: 35px;
        border: 1px solid black;
        border-radius: 5px;
        font-weight: 500;
        font-size: 18px;
        margin: 5px;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
          background-color: rgba(26, 133, 203, 0.34);
          transition: 0.5s ease;

        }
      }
    }

    .colors {
      width: 800px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: #54586a;

      .inp-div {
        width: 600px;
        display: flex;
        align-items: center;
      }

      .getColors-btn {
        width: 120px;
        height: 35px;
        background-color: orange;
        border: none;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        color: #383333;
        font-size: 19px;
        font-weight: 400;
      }

      .item {
        width: 100%;
        background-color: white;

        .color-title-div {
          width: 100%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5px 0;

          h1 {
            font-weight: 400;
            color: #201a1d8f;
          }

          .changeBtn-div {
            width: 83px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
              background-color: transparent;
              cursor: pointer;
              color: white;
              border: none;
            }
          }
        }
      }
    }

  }
}

.edit-page-color {
  display: flex;

  .detail {
    flex: 6;

    .color {
      width: 500px;
      height: auto;
      margin: 100px  auto;
      display: flex;
      flex-direction: column;
      background-color: teal;

      h5 {
        color: wheat;
      }

      .item {
        width: 100%;
        height: 60px;
        margin: 10px 0;
        background-color: #484646;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;

        .change-btn {
          button {
            border: none;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }

}