.editing-products {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  label {
    color: #7451f8;
    margin: 5px;
  }

  span {
    color: #7451f8;
    margin: 4px;
  }

  input {
    width: 130px;
    border: none;
    outline: #545353;
    margin: 5px;
  }

  .update {
    width: 100px;
    margin-left: 87.2%;
    background-color: transparent;
    border: 1px solid #e7e7ec;
    transition: 1s ease;

    &:hover {
      background-color: #2d2b2b;
      color: white;
    }
  }

  .inp-product-update {
    display: flex;
    align-items: center;

  }

  .color-div {
    //position: absolute;
    margin-left: 480px;
  }

  .color-checkbox {
    background-color: #3a3a3a;
    width: 300px;

    label {
      color: wheat;
      width: 90px;
      text-align: center;
    }
  }

}