
.edit-page {
  display: flex;

  .sido {
    flex: 6;
    background-color: #535353;

    .sido-2 {
      margin: 45px;
      .span-color {
        margin: 15px;
      }

      .products {
        width: 450px;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #f0f0f0;
        margin: 15px;

        .get-btn-prod {
          background-color: orange;
          border: none;
          width: 120px;
          height: 35px;
          border-radius: 0 10px 5px 0;
          cursor: pointer;
          color: #363232;
          font-size: 17px;
          font-weight: 500;
        }

        .items {
          width: 100%;
          height: 60px;
          margin: 10px 0;
          background-color: #484646;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;

          .change-btn {
            button {
              border: none;
              background-color: transparent;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}