
.edit-page {
  display: flex;

  .sido {
    flex: 6;
    background-color: #a3a3a3;

    .sido-2 {
      margin: 50px auto;
      width: 800px;
      border: 1px solid white;
      .h1-detail {
        background-color: #484848;
        color: wheat
      }

      .h5-name {
        color: white;
        border-bottom: 1px solid wheat;
        margin: 5px;
      }

      .span-color {
        margin: 15px;
        border-bottom: 1px solid white;
      }

      .span-color-title {
        color: white;
        margin: 6px;
      }

      .products {
        width: 788px;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #f0f0f0;
        margin: 5px;

        .get-btn-prod {
          background-color: orange;
          border: none;
          width: 120px;
          height: 35px;
          border-radius: 0 10px 5px 0;
          cursor: pointer;
          color: #363232;
          font-size: 17px;
          font-weight: 500;
        }

        .items {

          width: 100%;
          height: 60px;
          margin: 10px 0;
          background-color: #484646;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;

          .change-btn {
            button {
              border: none;
              background-color: transparent;
              cursor: pointer;
            }
          }
        }
        .confirm {
          background-color: #3a3a3a;
          color: white;
        }
      }
    }
  }
}